.sidebar-link {
  display: flex;
  /* gap: 10%; */
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  justify-content: space-between;
}

.sidebar-title-container {
  display: flex;
  gap: 10%;
}

.sidebar-title {
  font-weight: 500;
  font-size: 20px;
}
